In [10]:
import requests
from key import fred_key
import pandas as pd
import numpy as np

base_url = "https://api.stlouisfed.org/fred/"
obs_endpoint = "series/observations"

start_date = "1950-01-01"
end_date = "2023-12-31"


def create_series_dict(name, series_id):
    units = 'log' if name != 'r' else 'lin' 
    return {
        'name': name,
        'series_id': series_id,
        'api_key': fred_key,
        'file_type': 'json',
        'observation_start': start_date,
        'observation_end': end_date,
        'frequency': 'a',
        'units': 'lin'
    }

series_list = [
    ('GDP', 'GDPC1'),
    ('CND', 'PCEND'),
    ('CD', 'PCEDG'),
    ('H', 'HOANBS'),
    ('L', 'PAYEMS'),
    ('AveW', 'AHETPI')
]

request_parameters = [create_series_dict(name, series_id) for name, series_id in series_list]

In [11]:
def fetch_data(parameter):
    response = requests.get(base_url + obs_endpoint, params=parameter)
    if response.status_code == 200:
        res_data = response.json()
        obs_data = pd.DataFrame(res_data['observations'])
        obs_data['date'] = pd.to_datetime(obs_data['date'])
        obs_data.set_index('date', inplace=True)
        obs_data = obs_data.drop(['realtime_start', 'realtime_end'], axis=1)

        # Convert 'value' to numeric, coercing errors to NaN
        obs_data['value'] = pd.to_numeric(obs_data['value'], errors='coerce')

        obs_data.rename(columns={'value': parameter['name']}, inplace=True)
        return obs_data
    else:
        print('Failed to retrieve data. Status code:', response.status_code)
        return pd.DataFrame()  # Return an empty DataFrame on failure
    
    
dataframe = pd.DataFrame()
# concatenate the data
for parameter in request_parameters:
    df = fetch_data(parameter)
    if dataframe.empty:
        dataframe = df
    else:
        dataframe = pd.concat([dataframe, df], axis=1)

# Display the merged dataframe
dataframe

                  GDP     CND      CD        H       L   AveW
date
1950-01-01   2458.532     NaN     NaN   42.265   45282    NaN
1951-01-01   2656.320     NaN     NaN   44.261   47926    NaN
1952-01-01   2764.803     NaN     NaN   44.753   48903    NaN
1953-01-01   2894.412     NaN     NaN   45.880   50304    NaN
1954-01-01   2877.708     NaN     NaN   44.331   49087    NaN
...               ...     ...     ...      ...     ...    ...
2019-01-01  20692.087  3006.5  1522.7  102.791  150906  23.51
2020-01-01  20234.074  3084.2  1628.9   95.064  142165  24.69
2021-01-01  21407.693  3500.2  2006.4  100.227  146276  25.91
2022-01-01  21822.037  3868.1  2129.0  104.243  152531  27.57
2023-01-01  22376.907  3992.7  2198.8  105.391  156066  28.93

[74 rows x 6 columns]

In [12]:
# adjust the dataset

# add productivity
dataframe['GDP/L'] = (dataframe['GDP']/dataframe['L'])  # annual average income
dataframe['AveH'] = dataframe['H']/dataframe['L']*1000
dataset1 = dataframe.dropna()
# data from 1964 to 2022
dataset1

,GDP,CND,CD,H,L,AveW,GDP/L,AveH
date,,,,,,,,
1964-01-01,4205.277,152.7,59.5,50.351,58394,2.54,0.072016,0.862263
1965-01-01,4478.555,163.3,66.4,52.297,60879,2.63,0.073565,0.859032
1966-01-01,4773.931,177.9,71.8,54.107,64025,2.73,0.074564,0.845092
1967-01-01,4904.864,185.0,74.0,54.113,65935,2.86,0.074389,0.820702
1968-01-01,5145.914,199.8,84.8,55.074,68027,3.02,0.075645,0.809590
1969-01-01,5306.595,214.2,90.5,56.666,70515,3.22,0.075255,0.803602
1970-01-01,5316.391,228.8,90.0,55.799,71007,3.40,0.074871,0.785824
1971-01-01,5491.446,239.7,102.4,55.704,71331,3.63,0.076985,0.780923
1972-01-01,5780.048,257.4,116.4,57.455,73788,3.90,0.078333,0.778650
1973-01-01,6106.371,286.1,130.5,59.786,76902,4.14,0.079405,0.777431
1974-01-01,6073.363,321.4,130.2,59.893,78383,4.44,0.077483,0.764107
1975-01-01,6060.875,349.2,142.2,57.375,77071,4.74,0.078640,0.744443
1976-01-01,6387.437,377.7,168.6,59.414,79507,5.06,0.080338,0.747280
1977-01-01,6682.805,408.4,192.0,61.755,82600,5.44,0.080906,0.747639
1978-01-01,7052.711,450.2,213.3,64.976,86829,5.88,0.081225,0.748321
1979-01-01,7275.999,511.6,226.3,67.286,89936,6.34,0.080902,0.748154
1980-01-01,7257.317,573.4,226.4,66.752,90532,6.85,0.080163,0.737330
1981-01-01,7441.485,625.4,244.0,67.295,91292,7.43,0.081513,0.737140
1982-01-01,7307.314,646.3,253.0,65.779,89685,7.87,0.081478,0.733445
1983-01-01,7642.266,678.8,295.0,67.108,90289,8.20,0.084642,0.743258
1984-01-01,8195.295,721.6,342.2,71.190,94543,8.49,0.086683,0.752991
1985-01-01,8537.004,757.2,380.4,73.062,97529,8.73,0.087533,0.749131
1986-01-01,8832.611,774.2,421.4,73.632,99498,8.92,0.088772,0.740035
1987-01-01,9137.745,814.3,442.0,75.889,102114,9.14,0.089486,0.743179
1988-01-01,9519.427,862.3,475.1,78.056,105375,9.44,0.090339,0.740745
1989-01-01,9869.003,929.5,494.3,80.206,108047,9.80,0.091340,0.742325
1990-01-01,10055.129,994.2,497.1,80.061,109528,10.20,0.091804,0.730964
1991-01-01,10044.238,1020.2,477.2,78.284,108434,10.51,0.092630,0.721951
1992-01-01,10398.046,1055.2,508.1,77.974,108793,10.77,0.095576,0.716719
1993-01-01,10684.179,1090.8,551.5,80.290,110935,11.05,0.096310,0.723757
1994-01-01,11114.646,1139.4,607.2,83.409,114386,11.33,0.097168,0.729189
1995-01-01,11413.012,1179.8,635.7,85.350,117410,11.65,0.097206,0.726940
1996-01-01,11843.599,1241.4,676.3,87.358,119819,12.04,0.098846,0.729083
1997-01-01,12370.300,1291.0,715.5,90.124,122930,12.50,0.100629,0.733133
1998-01-01,12924.876,1329.1,779.3,92.091,126136,13.01,0.102468,0.730093
1999-01-01,13543.774,1431.5,855.6,93.776,129229,13.49,0.104804,0.725658
2000-01-01,14096.033,1540.6,912.6,95.039,132018,14.01,0.106774,0.719894
2001-01-01,14230.726,1584.1,941.5,93.275,132078,14.54,0.107745,0.706211
2002-01-01,14472.712,1613.4,985.4,90.952,130634,14.96,0.110788,0.696235
2003-01-01,14877.313,1704.8,1017.8,90.436,130327,15.36,0.114154,0.693916
2004-01-01,15449.757,1821.4,1080.6,91.613,131755,15.68,0.117261,0.695328
2005-01-01,15987.958,1954.3,1128.6,93.163,134022,16.12,0.119294,0.695132
2006-01-01,16433.148,2081.3,1158.3,95.322,136432,16.74,0.120449,0.698678
2007-01-01,16762.446,2179.0,1188.1,95.973,137979,17.41,0.121485,0.695562
2008-01-01,16781.485,2264.5,1098.8,93.891,137225,18.06,0.122292,0.684212
2009-01-01,16349.111,2167.9,1012.1,86.797,131290,18.61,0.124527,0.661109
2010-01-01,16789.751,2268.9,1049.0,86.893,130335,19.05,0.128820,0.666690
2011-01-01,17052.411,2424.6,1093.5,88.712,131920,19.44,0.129263,0.672468
2012-01-01,17442.759,2493.5,1144.2,90.827,134154,19.73,0.130020,0.677035
2013-01-01,17812.167,2550.4,1191.8,92.653,136358,20.13,0.130628,0.679483
2014-01-01,18261.714,2639.3,1247.3,94.852,138920,20.60,0.131455,0.682781
2015-01-01,18799.622,2639.3,1315.8,97.125,141801,21.03,0.132577,0.684939
2016-01-01,19141.672,2676.6,1356.5,98.479,144332,21.54,0.132623,0.682309
2017-01-01,19612.103,2796.3,1415.9,99.939,146611,22.04,0.133770,0.681661
2018-01-01,20193.895,2925.4,1488.8,101.914,148897,22.70,0.135623,0.684460
2019-01-01,20692.087,3006.5,1522.7,102.791,150906,23.51,0.137119,0.681159
2020-01-01,20234.074,3084.2,1628.9,95.064,142165,24.69,0.142328,0.668688
2021-01-01,21407.693,3500.2,2006.4,100.227,146276,25.91,0.146351,0.685191
2022-01-01,21822.037,3868.1,2129.0,104.243,152531,27.57,0.143066,0.683422
2023-01-01,22376.907,3992.7,2198.8,105.391,156066,28.93,0.143381,0.675298

In [38]:
sd = dataset1.std()/dataset1.mean()

lags = range(-4, 5)

# initialize a DataFrame to store cross-correlation values
cross_corr_df = pd.DataFrame(index=dataset1.columns, columns=lags)

# calculate cross-correlation for each variable and each lag
for col in dataset1.columns:
    for lag in lags:
        cross_corr_df.at[col, lag] = dataset1['GDP'].corr(dataset1[col].shift(-lag))



cross_corr_df['SD%'] = sd
table1 = cross_corr_df
table1

In [39]:
# import data for the second table

series_list2 = [
    ('Y', 'A939RC0Q052SBEA'),
    ('C', 'A794RC0Q052SBEA'),
    ('I', 'RGDPLPUSA625NUPN'),
    ('w', 'LES1252881600Q'),
    ('r', 'FEDFUNDS'),
    ('A', 'RTFPNAUSA632NRUG')
]

request_parameters2 = [create_series_dict(name, series_id) for name, series_id in series_list2]


dataframe2 = pd.DataFrame()
# concatenate the data
for parameter in request_parameters2:
    df = fetch_data(parameter)
    if dataframe2.empty:
        dataframe2 = df
    else:
        dataframe2 = pd.concat([dataframe2, df], axis=1)

dataframe2['N'] = dataset1['AveH']
dataframe2['Y/N'] = dataframe2['Y']/dataframe2['N']
dataframe2

dataset2 = dataframe2.dropna()
# data from 1982 to 2007
dataset2

In [37]:
sd2 = dataset2.std()
sd_r = sd2/dataset2.mean()
p = dataset2.apply(lambda series: series.autocorr(lag = 1)) # first order autocorrection (how much the t value is influenced by the t-1 value )
corr_Y = dataset2.corr()['Y']

table2 = pd.DataFrame(index=dataset2.columns)
table2['SD'] = sd2
table2['SD%'] = sd_r
table2['p'] = p
table2['corr_Y'] = corr_Y
table2